.footer{
  background-color: rgb(103, 103, 103);
  color: #fff;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 0.6rem;
  padding: 20px 10px;
}